 .notification-empty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
}

.notification-empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.notification-empty-icon {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plane-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.notification-empty-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
  margin: 0 0 0.75rem 0;
  line-height: 1.4;
}

.notification-empty-description {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #6B7280;
  margin: 0;
  line-height: 1.6;
  max-width: 100%;
  white-space: nowrap;
  /* text-align: left; */
  /* padding-right: 10px; */
   margin-right: 81px;
} 
/* 
.notification-empty-container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notification-empty-icon img {
  width: 80px;
  opacity: 0.9;
  margin-bottom: 20px;
}

.notification-empty-title {
  font-size: 23px;
  font-weight: 500;
  color: #111;
  margin-bottom: 6px;
}

.notification-empty-description {
  font-size: 14px;
color: #828282;
  max-width: 320px;
} */
@media (max-width: 767px) {

  .notification-empty-container {
    min-height: calc(80vh - 56px);
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification-empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 280px;
    margin-left: auto; 
    margin-right: auto; 
  }

  .notification-empty-icon {
    margin-bottom: 1rem;
  }

  .plane-icon {
    width: 56px;
    height: 56px;
  }

  .notification-empty-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    line-height: 1.3;
    text-align: center;
  }

  .notification-empty-description {
    font-size: 0.8125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0px;
    text-align: center;
    white-space: normal;
  }
}
